

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}




  /*💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢💢*/


body {
    margin: 0;
    background-color: rgb(149, 102, 63);
    font-family: "Inter", sans-serif;
}
img {
  border-radius: 8px;
  /* border: 1px solid #ddd;
  padding: 5px; */
  object-fit: cover;
  width: 80%;
  height: 80%;
}
  
  nav {
    background: #a7ffeb;
    grid-area: nav; /*Esto hara funcionar lo que se encuentra en el codigo de arriba en .container{} "grid-template-areas:"*/
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-family: cursive;
    font-size: medium;
  }

  main {
    background: #84ffff;
    grid-area: main; /*Esto hara funcionar lo que se encuentra en el codigo de arriba en .container{} "grid-template-areas:"*/
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-family: cursive;
  }
  
  #sidebar {
    background: #18ffff;
    grid-area: sidebar; /*Esto hara funcionar lo que se encuentra en el codigo de arriba en .container{} "grid-template-areas:"*/
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    -webkit-text-fill-color: rgb(35, 2, 2);
    font-family: cursive;
  }
  
  #content1 {
    background: #6fffd2;
    grid-area: content1; /*Esto hara funcionar lo que se encuentra en el codigo de arriba en .container{} "grid-template-areas:"*/
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    min-height: 100px;
    font-family: cursive;
  }
  
  #content2 {
    background: #64ffda;
    grid-area: content2; /*Esto hara funcionar lo que se encuentra en el codigo de arriba en .container{} "grid-template-areas:"*/
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-family: cursive;
  }
  
  #content3 {
    background: #73ffba;
    grid-area: content3; /*Esto hara funcionar lo que se encuentra en el codigo de arriba en .container{} "grid-template-areas:"*/
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-family: cursive;
  }
  
  footer {
    background: #1de9b6;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
  }
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;  /* no se que significa el fr pero aqui se usa*/
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr; /*Aqui tambien*/
    grid-template-areas: /* esto de aqui es importante, el orden que escribas es el orden que se tomara tus divs en las columnas y filas*/
      "nav nav nav nav"
      "sidebar main main main"
      "sidebar content1 content2 content3"
      "sidebar footer footer footer";
    grid-gap: 0.2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
  }


  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 550px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
      grid-template-areas:
        "nav nav"
        "sidebar main"
        "sidebar content1"
        "sidebar content2"
        "sidebar content3"
        "footer footer";
    }
  }

  @media screen and (max-width: 550px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 550px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }